/* .themify_builder_6488_row.module_row_0 Style */
.themify_builder_6488_row.module_row_0.module_row {
	border-top: #adaaaa 3px solid;
	border-right: #adaaaa 3px solid;
	border-bottom: #adaaaa 3px solid;
	border-left: #adaaaa 3px solid
}

.module_row_0 .module_column_0.tb_6488_column{width:37.1716%;}.module_row_0 .module_column_1.tb_6488_column{width:62.8284%;}.themify_builder .fancy-heading-6488-0-1-1.module-fancy-heading { background-color: #c5912c; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .fancy-heading-6488-0-1-1.module .main-head { font-family: Arial, Helvetica, sans-serif; color: #00000; font-size: 24px; line-height: 0px;  } 
.themify_builder .text-6488-0-1-2.module-text { background-color: #ffffff; font-family: Georgia, 'Times New Roman', Times, serif; text-align: left; padding-top: 20px; padding-right: 70px; padding-bottom: 15px; padding-left: 70px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .text-6488-0-1-2.module-text h1 { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 32px;  } 
.themify_builder .text-6488-0-1-2.module-text h2 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6488-0-1-2.module-text h3:not(.module-title) { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6488-0-1-2.module-text h4 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6488-0-1-2.module-text h5 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6488-0-1-2.module-text h6 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6488-0-1-2.module.module-text h1 { font-family: Arial, Helvetica, sans-serif; color: #c5912c;  } 
.themify_builder .text-6488-0-1-2.module.module-text h2 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-6488-0-1-2.module.module-text h3 { font-family: Arial, Helvetica, sans-serif; color: #c5912c;  } 
.themify_builder .text-6488-0-1-2.module-text h3 { font-size: 28px; line-height: 0px;  } 
