/* .themify_builder_6492_row.module_row_0 Style */
.themify_builder_6492_row.module_row_0.module_row {
	border-top: #c59126 4px solid;
	border-right: #c59126 4px solid;
	border-bottom: #c59126 4px solid;
	border-left: #c59126 4px solid
}

.module_row_0 .module_column_0.tb_6492_column{width:37.1716%;}.module_row_0 .module_column_1.tb_6492_column{width:62.8284%;}.themify_builder .fancy-heading-6492-0-1-1.module-fancy-heading { background-color: #c90036; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-color: #030303; border-top-width: 1px; border-top-style: solid; border-right-color: #030303; border-right-width: 1px; border-right-style: solid; border-bottom-color: #030303; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #030303; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .fancy-heading-6492-0-1-1.module .main-head { font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 24px; line-height: 0px;  } 
.themify_builder .text-6492-0-1-2.module-text { background-color: #ffffff; font-family: Georgia, 'Times New Roman', Times, serif; text-align: left; padding-top: 15px; padding-right: 5px; padding-bottom: 15px; padding-left: 15px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .text-6492-0-1-2.module-text h1 { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 32px;  } 
.themify_builder .text-6492-0-1-2.module-text h2 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6492-0-1-2.module-text h3:not(.module-title) { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6492-0-1-2.module-text h4 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6492-0-1-2.module-text h5 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6492-0-1-2.module-text h6 { font-family: Georgia, 'Times New Roman', Times, serif;  } 
.themify_builder .text-6492-0-1-2.module.module-text h1 { font-family: Arial, Helvetica, sans-serif; color: #c5912c;  } 
.themify_builder .text-6492-0-1-2.module.module-text h2 { font-family: Arial, Helvetica, sans-serif;  } 
.themify_builder .text-6492-0-1-2.module.module-text h3 { font-family: Arial, Helvetica, sans-serif; color: #c5912c;  } 
.themify_builder .text-6492-0-1-2.module-text h3 { font-size: 28px; line-height: 0px;  } 
